*,
html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bs-dark);
}

:root {
  --bs-dark-half: rgba(255, 255, 255, 0.05);
  --transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.bg-dark-half {
  background-color: var(--bs-dark-half) !important;
}

.card-hover .position-absolute:hover {
  border-bottom: 3px solid;
  transition: var(--transition);
}

.project img {
  filter: blur(1px);
  opacity: 0.3;
  transition: 0.5s;
}

.project:hover img {
  filter: blur(0px);
  opacity: 1;
  transition: 0.5s;
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(76 130 247 / 90%) !important;
}
