*,
html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bs-dark);
}

:root {
  --bs-dark-half: rgba(255, 255, 255, 0.05);
  --transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow-y: scroll;
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-primary);
  border-radius: 10px;
}

.fullscreen {
  height: 80vh !important;
}

.half-margin {
  margin-top: 5rem;
}

.bg-dark-half {
  background-color: rgba(31, 28, 45, 1) !important;
}

.text-12 {
  font-size: 25px;
}

.shape {
  height: 150px;
  width: 150px;
  background-color: var(--bs-dark);
  border-radius: 80px;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;
}

.nav-link {
  color: #fff;
}

.main-image {
  filter: grayscale(1);
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.5s;
}

.main-image:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

.dropdown-menu {
  min-width: 6rem;
}

.top-25 {
  top: 25%;
}

.top-75 {
  top: 75%;
}

.end-25 {
  left: 25%;
}

.end-75 {
  left: 75%;
}

.end-60 {
  left: 60%;
}

.card-hover .position-absolute:hover {
  border-bottom: 3px solid;
  transition: var(--transition);
}

.project img {
  filter: blur(1px);
  opacity: 0.3;
  transition: 0.5s;
}

.project:hover img {
  filter: blur(0px);
  opacity: 1;
  transition: 0.5s;
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(76 130 247 / 90%) !important;
}
